
**Q1. Creating a Pandas Series**

```python
import pandas as pd

# Create a Series
data = pd.Series([4, 8, 15, 16, 23, 42])
print(data)
```

**Output:**

```
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
```

**Explanation:**

- Import the `pandas` library as `pd`.
- Create a list `data` containing the numbers.
- Use `pd.Series(data)` to create a Series object.
- Print the Series using `print(data)`.

**Q2. Creating a Series from a List**

```python
# Create a list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Create a Series from the list
series = pd.Series(my_list)
print(series)
```

**Output:**

```
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
```

**Explanation:**

- Create a list `my_list`.
- Use `pd.Series(my_list)` to convert the list to a Series.
- Print the Series.

**Q3. Creating a Pandas DataFrame**

```python
# Create dictionaries for each column
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 28, 32],
    'City': ['New York', 'London', 'Paris', 'Berlin']
}

# Create a DataFrame from the dictionaries
df = pd.DataFrame(data)
print(df)
```

**Output:**

```
      Name  Age      City
0    Alice   25  New York
1      Bob   30     London
2  Charlie   28      Paris
3    David   32     Berlin
```

**Explanation:**

- Create dictionaries `data` with keys representing column names and values as lists containing data for each column.
- Use `pd.DataFrame(data)` to create a DataFrame from the dictionaries.
- Print the DataFrame.

**Q4. DataFrames vs. Series**

- **DataFrame:** A two-dimensional labeled data structure in pandas with columns and rows. It can hold data of different data types in each column. Think of it as a spreadsheet-like structure where rows represent observations and columns represent features or variables.

- **Series:** A one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It's essentially a single column of data with an index. Think of it as a list or an array with labels (index) assigned to each element.

**Example:**

```python
# Series (one-dimensional)
names = pd.Series(['Alice', 'Bob', 'Charlie'])
print(names)

# DataFrame (two-dimensional)
data = {
    'Name': names,
    'Age': [25, 30, 28]
}
df = pd.DataFrame(data)
print(df)
```

I'd be glad to address your queries about Pandas DataFrame manipulation functions:

**Q5. Common DataFrame Manipulation Functions**

Pandas provides a rich set of functions for efficient data manipulation and analysis in DataFrames. Here are some commonly used ones:

**Selection:**

- **`head(n)`:** Returns the first `n` rows of the DataFrame (default is 5). Useful for getting a quick glimpse at the beginning of your data.
  ```python
  df.head(3)  # Show the first 3 rows
  ```
- **`tail(n)`:** Returns the last `n` rows of the DataFrame (default is 5). Convenient for checking the end of your data.
  ```python
  df.tail(2)  # Show the last 2 rows
  ```
- **`iloc[row_indices, column_indices]`:** Selects specific rows and/or columns by integer position. Precise control over indexing.
  ```python
  df.iloc[1:4, 0:2]  # Select rows 1 to 3 (exclusive) and columns 0 to 1 (exclusive)
  ```
- **`loc[row_labels, column_labels]`:** Selects rows and/or columns by label. More readable for named indices.
  ```python
  df.loc['Alice':'Charlie', 'Name':'Age']  # Select rows from 'Alice' to 'Charlie' (inclusive) and columns 'Name' and 'Age'
  ```

**Filtering:**

- **`query(expression)`:** Filters rows based on a boolean expression. Flexible filtering with string-based expressions.
  ```python
  df.query("Age > 25 and City == 'London'")  # Select rows where Age is greater than 25 and City is 'London'
  ```
- **`boolean_indexing`:** Filters rows using boolean conditions. Create boolean Series and use for filtering.
  ```python
  filtered_df = df[df['Age'] > 30]  # Select rows where Age is greater than 30
  ```

**Sorting:**

- **`sort_values(by, ascending=True/False)`:** Sorts the DataFrame by a specified column(s) in ascending or descending order.
  ```python
  df.sort_values(by='Age', ascending=False)  # Sort by 'Age' in descending order
  ```

**Aggregation:**

- **`describe()`:** Provides summary statistics for numerical columns.
   ```python
   df.describe()  # Get summary statistics like mean, standard deviation, etc.
   ```
- **`groupby(column_name).agg(function)`:** Groups data by a column and aggregates values using a statistical function.
   ```python
   df.groupby('City')['Age'].mean()  # Calculate average age for each city
   ```

**Missing Value Handling:**

- **`isnull().sum()`:** Returns the number of missing values in each column.
   ```python
   df.isnull().sum()  # Check for missing values in each column
   ```
- **`fillna(value)`:** Replaces missing values (NaN) with a specified value.
   ```python
   df.fillna(0)  # Replace missing values with 0
   ```

**Transformation:**

- **`apply(function, axis=0/1)`:** Applies a function to each row (axis=0) or column (axis=1) of the DataFrame. Allows for creating new columns or modifying existing ones.
  ```python
  def calculate_bmi(row):
      weight = row['Weight']
      height = row['Height']
      bmi = weight / (height**2)
      return bmi

  df['BMI'] = df.apply(calculate_bmi, axis=1)  # Create a new 'BMI' column using a custom function
  ```

These are just a few of the many functions available. The specific functions you'll use depend on the type of data manipulation you need to perform.

**Q6. Mutability in Pandas Objects**

- **Series, DataFrame, and Panel** are all mutable data structures in Pandas, meaning their contents can be modified after creation.

**Q7. Creating a DataFrame from Multiple Series**

You can create a DataFrame by combining multiple Series objects with compatible indices. Here's an example:

```python
import pandas as pd

# Create three Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 28])
cities = pd.Series(['New York', 'London', 'Paris'])

# Combine them into a DataFrame
data